.tag-container {
    min-width: 60%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.tag {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    color: #000000;
    font-size: 16px;
    background-color: #e3e2e2;
}

.tag-container input {
    border: none;
    flex: 1;
    outline: none;
    padding: 5;
    background: #ffffff;
    color: #000000;
}
.tag span {
    margin-left: 5px;
    cursor: pointer;
    align-self: center;
}
